<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- Note mispelling, inherited from SES -->
            <setting name="Ecommerce.Order.OrderItemTempalteId">
                <patch:attribute name="value">{7EEBB6C4-9A40-4505-AC6C-720F2F6BA17B}</patch:attribute>
            </setting>
        </settings>
        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="customOrder">ActiveCommerce.Training.OrderExtension</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>
