<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="ActiveCommerce.Training.TaxRate.Rate.CT" value=".0635" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.CT" value="Connecticut" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.IN" value=".07" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.IN" value="Indiana" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.KY" value=".06" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.KY" value="Kentucky" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.MA" value=".0625" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.MA" value="Massachusetts" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.MD" value=".06" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.MD" value="Maryland" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.ME" value=".055" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.ME" value="Maine" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.MI" value=".06" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.MI" value="Michigan" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.NJ" value=".07" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.NJ" value="New Jersey" />
            <setting name="ActiveCommerce.Training.TaxRate.Rate.RI" value=".07" />
            <setting name="ActiveCommerce.Training.TaxRate.Name.RI" value="Rhode Island" />
        </settings>
    </sitecore>
</configuration>
