<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.training.activecommerce.com/Services/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="Services.IProductService" name="BasicHttpBinding_IProductService" />
        </client>
    </system.serviceModel>
</configuration>
