<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <processors>
            <orderProcessing>
                <!-- Disable the builtin ERP order file. This will also ensure that orders are left in a "Pending" status.-->
                <processor type="ActiveCommerce.OrderProcessing.WriteERPOrderFile, ActiveCommerce.Kernel">
                    <patch:delete />
                </processor>
            </orderProcessing>
        </processors>
    </sitecore>
</configuration>
