<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <coveo>
      <defaultIndexConfiguration>
        <documentOptions>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_ac_price" site="sherpa_winter_outfitters">ActiveCommerce.Training.CoveoSearch.ComputedFields.Price, ActiveCommerce.Training.CoveoSearch</field>
            <field fieldName="_ac_productimage" site="sherpa_winter_outfitters">ActiveCommerce.Training.CoveoSearch.ComputedFields.ProductImage, ActiveCommerce.Training.CoveoSearch</field>
          </fields>
        </documentOptions>
      </defaultIndexConfiguration>
    </coveo>
  </sitecore>
</configuration>