<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="activecommerce.data">
        <pipelines>
          <acConfigurationBuilder>
            <processor type="ActiveCommerce.Data.Pipelines.ConfigurationBuilder.Mappings, ActiveCommerce.Data">
              <assemblies hint="list">
                <assembly id="giftcards">ActiveCommerce.GiftCards</assembly>
              </assemblies>
            </processor>
          </acConfigurationBuilder>
        </pipelines>
      </group>
      <initialize>
        <processor type="ActiveCommerce.GiftCards.Mvc.RegisterRoutesInitializeProcessor, ActiveCommerce.GiftCards" />
      </initialize>
    </pipelines>

    <activecommerce>
      <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
        <assemblies hint="list">
          <assembly id="giftcards">ActiveCommerce.GiftCards</assembly>
        </assemblies>
      </glassConfiguration>
    </activecommerce>

  </sitecore>
</configuration>