<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">localhost</patch:attribute>
      </setting>
      <setting name="MailServerPort">
        <patch:attribute name="value">25</patch:attribute>
      </setting>
      <setting name="MailServerUserName">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="MailServerPassword">
        <patch:attribute name="value"></patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>