<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
        <site name="sherpa_winter_outfitters">
            <patch:attribute name="hostName">sherpa.activecommerce.training</patch:attribute>
        </site>
        <site name="training"
              hostName="site.activecommerce.training"
              physicalFolder="/"
              rootPath="/sitecore/content/Active Commerce Training"
              startItem="/home"
              database="web"
              content="master"
              domain="extranet"
              allowDebug="true"
              cacheHtml="false"
              htmlCacheSize="10MB"
              EcommerceSiteSettings="/Site Settings"
              registryCacheSize="0"
              viewStateCacheSize="0"
              xslCacheSize="5MB"
              filteredItemsCacheSize="2MB"
              enablePreview="true"
              enableWebEdit="true"
              enableDebugger="true"
              disableClientData="false"
              patch:before="site[@name='website']"
              enableFallback="true"
              translationDictionary="/sitecore/commerce/translation"
              skin="training"
      />
    </sites>
  </sitecore>
</configuration>
