<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <skins>
      <skin name="base">
        <settings type="ActiveCommerce.Skinning.Settings.SkinSettings, ActiveCommerce.Kernel">
          <images hint="raw:AddImage">
            <image name="Browse.Product">
              <Width>300</Width>
              <Height>300</Height>
            </image>
          </images>
        </settings>
      </skin>
    </skins>
  </sitecore>
</configuration>