<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="customProduct">ActiveCommerce.Training.CustomProduct</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>