<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Register the MVC routes for our new controller -->
                <processor type="ActiveCommerce.Training.NHibernate.Mvc.RegisterRoutesProcessor, ActiveCommerce.Training.NHibernate" />
            </initialize>
            <!-- Add this assembly with the Active Commerce NHibernate configuration -->
            <group groupName="activecommerce.data">
                <pipelines>
                    <acConfigurationBuilder>
                        <processor type="ActiveCommerce.Data.Pipelines.ConfigurationBuilder.Mappings, ActiveCommerce.Data">
                            <assemblies hint="list">
                                <assembly id="training">ActiveCommerce.Training.SimpleReviews</assembly>
                            </assemblies>
                        </processor>
                    </acConfigurationBuilder>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
