<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <acGetProductTotals>
                <processor type="ActiveCommerce.Prices.Pipelines.GetProductTotals.GetNormalPrice, ActiveCommerce.Kernel">
                    <patch:delete/>
                </processor>
                <processor type="ActiveCommerce.Prices.Pipelines.GetProductTotals.GetNormalPrice, ActiveCommerce.Kernel">
                    <patch:delete/>
                </processor>
                <processor type="ActiveCommerce.Prices.Pipelines.GetProductTotals.GetMemberPrice, ActiveCommerce.Kernel">
                    <patch:delete/>
                </processor>
                <processor type="ActiveCommerce.Training.RealTimePricing.GetProductPriceFromService, ActiveCommerce.Training.RealTimePricing"
                           patch:before="processor[@type='ActiveCommerce.Prices.Pipelines.GetProductTotals.GetVariantParentPrice, ActiveCommerce.Kernel']" />
            </acGetProductTotals>
        </pipelines>
    </sitecore>
</configuration>