<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <acGetProductTotals>
                <processor type="ActiveCommerce.Training.CategorySale.GetSalePriceFromCategory, ActiveCommerce.Training.CategorySale"
                           patch:before="processor[@type='ActiveCommerce.Prices.Pipelines.GetProductTotals.GetVariantParentPrice, ActiveCommerce.Kernel']" />
            </acGetProductTotals>
        </pipelines>
    </sitecore>
</configuration>