<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <linkManager set:defaultProvider="custom">
      <providers>
        <add name="sitecore" set:name="custom" set:type="ActiveCommerce.Training.ProductLinkProvider.LinkProvider, ActiveCommerce.Training.ProductLinkProvider" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
