<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Register the MVC routes for our new Checkout controller -->
                <processor type="ActiveCommerce.GiftMessage.Mvc.RegisterRoutesInitializeProcessor, ActiveCommerce.GiftMessage" />
            </initialize>
            <group groupName="activecommerce.orderprocessing">
                <pipelines>
                    <acStartOrderProcessing>
                        <processor type="ActiveCommerce.GiftMessage.OrderProcessing.SaveGiftMessage,ActiveCommerce.GiftMessage"
                                    patch:after="processor[@type='ActiveCommerce.Orders.Pipelines.StartOrderProcessing.CreateOrder, ActiveCommerce.Kernel']"/>
                    </acStartOrderProcessing>
                </pipelines>
            </group>
        </pipelines>

        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="giftMessage">ActiveCommerce.GiftMessage</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>