<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
      <dataProviders>
        <productStock>
          <fields>
            <field description="OutOfStockThreshold" mapToProperty="OutOfStockThreshold">{137BBFC3-7989-4C9B-8295-9E14182FFF82}</field>
            <field description="RegionSpecificStock" mapToProperty="RegionSpecificStock">{8A35A98A-9A41-4C44-8A7C-8498A2829F54}</field>
          </fields>
        </productStock>
      </dataProviders>
      <pipelines>
        <group groupName="activecommerce.data">
          <pipelines>
            <acConfigurationBuilder>
              <processor type="ActiveCommerce.Data.Pipelines.ConfigurationBuilder.Mappings, ActiveCommerce.Data">
                <assemblies>
                  <assembly id="productStockExtension">ActiveCommerce.Training.ProductStockExtension</assembly>
                </assemblies>
              </processor>
            </acConfigurationBuilder>
          </pipelines>
        </group>
      </pipelines>
      <sites>
        <site name="sherpa_winter_outfitters" set:stockRegion="alternate" />
      </sites>
    </sitecore>
</configuration>
