<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Register the MVC routes for our new Checkout controller -->
                <processor type="ActiveCommerce.Training.Payment.Mvc.RegisterRoutesInitializeProcessor, ActiveCommerce.Training.Payment" />
            </initialize>
        </pipelines>


        <!--<processors>
            <orderProcessing argsType="ActiveCommerce.OrderProcessing.OrderPipelineArgs, ActiveCommerce.Kernel">
                --><!-- Add our order processor to save gift message --><!--
                <processor type="ActiveCommerce.GiftMessage.OrderProcessing.SaveGiftMessage, ActiveCommerce.GiftMessage"
                           patch:after="processor[@type='ActiveCommerce.OrderProcessing.VerifyOrder, ActiveCommerce.Kernel']"/>
            </orderProcessing>
        </processors>-->

            
        <!--<settings>
            --><!-- Inform OrderManager of our new Order template. Note mispelling, inherited from SES --><!--
            <setting name="Ecommerce.Order.OrderItemTempalteId">
                <patch:attribute name="value">{87A554FC-F4B0-4E76-8D6D-44C149D52550}</patch:attribute>
            </setting>
        </settings>-->

        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="payment">ActiveCommerce.Training.Payment</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>