<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Register the MVC routes for our new Checkout controller -->
                <processor type="ActiveCommerce.Training.Payment.Mvc.RegisterRoutesInitializeProcessor, ActiveCommerce.Training.Payment" />
            </initialize>
        </pipelines>

        <processors>
            <orderProcessing argsType="ActiveCommerce.OrderProcessing.OrderPipelineArgs, ActiveCommerce.Kernel">
                <processor type="ActiveCommerce.Training.Payment.OrderProcessing.SavePurchaseOrderData, ActiveCommerce.Training.Payment"
                           patch:after="processor[@type='ActiveCommerce.OrderProcessing.VerifyOrder, ActiveCommerce.Kernel']"/>
            </orderProcessing>
        </processors>
        
        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="payment">ActiveCommerce.Training.Payment</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>