<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Register the MVC routes for our new ShoppingCart controller -->
                <processor type="ActiveCommerce.Training.EstimateShipping.Mvc.RegisterRoutesInitializeProcessor, ActiveCommerce.Training.EstimateShipping" />
            </initialize>
        </pipelines>
      
        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <!-- Don't forget to change the ID attribute! -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="estimateShipping">ActiveCommerce.Training.EstimateShipping</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>