<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <initialize>
                <!-- Register the MVC routes for our new InvoicePayment controller -->
                <processor type="ActiveCommerce.Training.InvoicePayment.Mvc.RegisterRoutesInitializeProcessor, ActiveCommerce.Training.InvoicePayment" />
            </initialize>
        </pipelines>
        
        <activecommerce>
            <!-- Patch in additional assemblies which contain classes that will be utilized with Glass Mapper -->
            <glassConfiguration type="ActiveCommerce.Glass.Configuration, ActiveCommerce.Kernel">
                <assemblies hint="list">
                    <assembly id="payment">ActiveCommerce.Training.InvoicePayment</assembly>
                </assemblies>
            </glassConfiguration>
        </activecommerce>
    </sitecore>
</configuration>