<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <processors>
            <orderProcessing argsType="ActiveCommerce.OrderProcessing.OrderPipelineArgs, ActiveCommerce.Kernel">
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderIntegration" patch:before="processor[@type='ActiveCommerce.OrderProcessing.VerifyOrder, ActiveCommerce.Kernel']"/>
            </orderProcessing>
        </processors>
    </sitecore>
</configuration>
