<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <processors>
            <orderProcessing argsType="ActiveCommerce.OrderProcessing.OrderPipelineArgs, ActiveCommerce.Kernel">
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderTrace" id="1" patch:before="processor[@type='ActiveCommerce.OrderProcessing.CreateOrder, ActiveCommerce.Kernel']">
                    <Message>CreateOrder START</Message>
                </processor>
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderTrace" id="2" patch:after="processor[@type='ActiveCommerce.OrderProcessing.CreateOrder, ActiveCommerce.Kernel']">
                    <Message>CreateOrder END</Message>
                </processor>
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderTrace" id="3" patch:before="processor[@type='ActiveCommerce.OrderProcessing.VerifyOrder, ActiveCommerce.Kernel']">
                    <Message>VerifyOrder START</Message>
                </processor>
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderTrace" id="4" patch:after="processor[@type='ActiveCommerce.OrderProcessing.VerifyOrder, ActiveCommerce.Kernel']">
                    <Message>VerifyOrder END</Message>
                </processor>
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderTrace" id="5" patch:before="processor[@type='ActiveCommerce.OrderProcessing.SetOrderStatus, ActiveCommerce.Kernel']">
                    <Message>SetOrderStatus START</Message>
                </processor>
                <processor type="ActiveCommerce.Training.OrderProcessing.OrderTrace" id="6" patch:after="processor[@type='ActiveCommerce.OrderProcessing.SetOrderStatus, ActiveCommerce.Kernel']">
                    <Message>SetOrderStatus END</Message>
                </processor>
            </orderProcessing>
        </processors>
    </sitecore>
</configuration>
