<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="activecommerce.orderprocessing">
                <pipelines>
                    <acCompleteOrderProcessing>
                        <processor type="ActiveCommerce.Training.OrderProcessing.OrderIntegration"
                                   patch:after="processor[@type='ActiveCommerce.Orders.Pipelines.CompleteOrderProcessing.VerifyPayment, ActiveCommerce.Kernel']"/>
                    </acCompleteOrderProcessing>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
